#!/usr/bin/env bash
set -euo pipefail

# deve is not a typo,
# but an abbreviation for development, prod, staging, and test,
# all shortened to four letters.
dotenv_if_exists .env.deve

use flake . --accept-flake-config

dotenv_if_exists .env.local
